absl-py==0.10.0
amqp==2.6.1
antlr4-python3-runtime==4.8
appdirs==1.4.4
appnope==0.1.0
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.17.0
asttokens==2.0.4
astunparse==1.6.3
attrs==20.3.0
autograd==1.3
backcall==0.2.0
backoff==1.10.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
bleach==3.1.5
boto3==1.11.3
botocore==1.14.17
bs4==0.0.1
cachetools==4.1.1
celery==4.3.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
clang==5.0
click==7.1.2
cloudpickle==1.6.0
coverage==5.3
cryptography==3.4.4
cvxpy==1.1.5
cycler==0.10.0
Cython==0.29.21
dask==2021.2.0
dccp==1.0.3
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.1
dlx==1.0.4
docplex==2.15.194
docutils==0.15.2
ecos==2.0.7.post1
entrypoints==0.3
fastdtw==0.3.4
fastjsonschema==2.15.0
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
flask-swagger==0.2.14
Flask-Testing==0.7.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.16
grpcio==1.40.0
gunicorn==19.7.1
gym==0.18.0
h5py==3.1.0
icontract==2.5.0
idna==2.10
imageio==2.9.0
immutables==0.6
inflection==0.5.1
iniconfig==1.1.1
install==1.3.4
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso-639==0.4.5
itsdangerous==1.1.0
jax==0.2.20
jaxlib==0.1.71
jedi==0.17.2
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-server==1.2.0
keras==2.6.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
kombu==4.6.11
lark==0.11.1
llvmlite==0.35.0
lxml==4.6.2
Markdown==3.2.2
MarkupSafe==1.1.1
marshmallow==3.3.0
matplotlib==3.2.1
mido==1.2.9
mistune==0.8.4
mock==4.0.1
more-itertools==8.7.0
mpmath==1.1.0
msgpack==0.6.2
multitasking==0.0.9
nbconvert==5.6.1
nbformat==5.0.7
nest-asyncio==1.5.1
networkx==2.4
notebook==6.1.4
ntlm-auth==1.5.0
numba==0.52.0
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
osqp==0.6.1
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.1
pathtools==0.1.2
peewee==3.13.1
PennyLane==0.14.1
PennyLane-Forest==0.14.0
PennyLane-SF==0.14.0
pexpect==4.8.0
pg8000==1.16.5
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2020.11.15
plotly==4.14.3
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.8.0
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycodestyle==2.6.0
pycparser==2.20
pygame==2.0.1
pyglet==1.5.0
Pygments==2.6.1
PyJWT==1.7.1
pylatexenc==2.9
pyparsing==2.4.7
pyquil==2.28.0
pyrsistent==0.17.3
pytest==6.1.0
pytest-asyncio==0.14.0
pytest-cov==2.10.1
python-constraint==1.4.0
python-dateutil==2.8.1
python-dotenv==0.10.3
python-rapidjson==1.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qcware-transpile==0.1.1a8
qiskit-aer==0.7.4
qiskit-aqua==0.8.2
qiskit-ibmq-provider==0.11.1
qiskit-ignis==0.5.2
qiskit-terra==0.16.4
qtconsole==4.7.7
QtPy==1.9.0
Quandl==3.6.0
quantum-blackbird==0.3.0
ratelimit==2.2.1
redis==3.3.11
repoze.lru==0.7
requests==2.24.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
retrying==1.3.3
retworkx==0.7.2
rpcq==3.7.0
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scikit-image==0.18.1
scikit-learn==0.23.2
scipy==1.4.1
scramp==1.2.0
scs==2.1.2
semantic-version==2.6.0
Send2Trash==1.5.0
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.2
StrawberryFields==0.17.0
sympy==1.6.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.8.3
testing.common.database==2.0.3
testing.postgresql==1.3.0
testpath==0.4.4
thewalrus==0.14.0
threadpoolctl==2.1.0
tifffile==2021.2.1
toml==0.10.2
toolz==0.11.1
torch==1.7.1
torchsummary==1.5.1
torchvision==0.8.2
tornado==6.0.4
tqdm==4.56.0
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.25.10
vine==5.0.0
virtualenv==20.0.31
virtualenv-clone==0.5.4
watchdog==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yapf==0.30.0
yfinance==0.1.55
